@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.blog-title {
  font-size: 3em;

  @media only screen and (max-width: 600px) {
    font-size: 2em;
  }
}

.copy-button {
  position: absolute;
  right: 0;
  z-index: 1;
  transform: translateY(20px);
  padding: 7px 15px;
  cursor: pointer;
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  outline: none;
}

.blog-content {
  color: var(--text-color);
  margin-top: 20px;
  font-size: 1.1em;
  position: relative;
  --token-line-height: 30px;

  .token-line {
    display: flex;
    width: max-content;

    &::after {
      content: "";
      display: block;
      position: relative;
      right: -2rem;
      width: 10px;
      height: 5px;
    }

    .token {
      max-height: var(--token-line-height);
      min-height: var(--token-line-height);
      height: var(--token-line-height);
    }
  }

  p {
    color: var(--paragraph-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    display: flex;
    align-items: center;
    transition: var(--transition-effect);

    .heading-link-button {
      color: var(--text-color);
      position: absolute;
      left: -28px;
      opacity: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &:hover {
      .heading-link-button {
        opacity: 1;
      }
    }
  }

  a:focus {
    outline: thin dotted;
  }
  a:active,
  a:hover {
    outline: 0;
  }

  abbr[title] {
    border-bottom: 1px dotted;
  }

  b,
  strong {
    font-weight: bold;
  }

  dfn {
    font-style: italic;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: "Fira Code", monospace;
    font-size: 1em;
  }

  .inline-code {
    background: #282a36;
    font-size: 0.85em;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    padding: 5px 7px;
  }

  pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  q {
    quotes: "\201C""\201D""\2018""\2019";
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  figure {
    margin: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /******************** General Typography ********************/

  h1,
  h2 {
    line-height: 36px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 15px;
  }

  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 1em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }

  dt {
    font-weight: 600;
  }

  dd {
    font-style: italic;
  }

  p,
  pre,
  address {
    font-size: 20px;
    line-height: 1.3em;
  }

  small {
    font-size: 80%;
  }

  abbr,
  code,
  kbd,
  samp,
  small,
  var {
    line-height: 15px;
  }

  ul,
  ol,
  dl,
  dialog {
    font-size: 14px;
    line-height: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  li ul,
  li ol,
  ul ul,
  ol ol {
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  li h1,
  li h2,
  li h3,
  li h4,
  li h5,
  li h6,
  li p {
    top: 0;
  }

  form,
  legend,
  label {
    font-size: 13px;
    line-height: 18px;
  }

  table {
    font-size: 13px;
  }

  caption {
    font-size: 13px;
    line-height: 18px;
  }

  hr {
    background-color: var(--text-color);
    width: 30%;
    margin: 18px auto;
  }

  blockquote {
    border-left: 3px solid #777;
    color: var(--paragraph-color);
    padding: 3px 0;
    font-family: sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 1.2em;
    margin-top: 25px;

    p {
      font-size: 1.8em;
      margin: 20px 0 25px;
      padding: 0 15px;
      line-height: 25px;
    }
  }

  ul,
  ol {
    color: var(--text-color);
  }

  ol {
    list-style-type: decimal;
  }

  ul.contains-task-list {
    list-style: none;

    li {
      font-size: 20px;

      input[type="checkbox"]:disabled {
        height: 20px;
        width: 20px;
      }
    }
  }

  a {
    color: #07c;
    text-decoration: none;
  }

  a:visited {
    color: #4a6b82;
  }

  a:hover {
    text-decoration: underline;
  }

  hr {
    border: 0;
    height: 4px;
    background-image: -webkit-linear-gradient(
      left,
      var(--background-color),
      rgba(0, 0, 0, 0.7),
      var(--background-color)
    );
  }

  table {
    border-collapse: collapse;
    border-top: solid 3px #000;
    margin-top: 18px;
    width: 100%;
  }
  table th,
  table td {
    font-size: 15px;
    line-height: 15px;
    padding: 10px 18px 8px 0;
  }
  table thead th,
  table thead td {
    font-family: Quattrocento, serif;
    padding-top: 7px;
  }
  table tfoot th,
  table tfoot td {
    padding-bottom: 8px;
  }
  table th:first-child,
  table td:first-child {
    padding-left: 0;
  }
  table th:last-child,
  table td:last-child {
    padding-right: 0;
  }
  table tbody tr:nth-child(odd) th,
  table tbody tr:nth-child(odd) td {
    background: rgba(0, 0, 0, 0.035);
  }
  table caption {
    color: rgba(0, 0, 0, 0.7);
    top: 5px;
    margin-bottom: 18px;
  }

  .inverted {
    background: #222;
    color: rgba(255, 255, 255, 0.7);
  }
  .inverted a {
    color: #4eaff5;
  }
  .inverted h1,
  .inverted h2,
  .inverted h3,
  .inverted h4,
  .inverted h5,
  .inverted h6 {
    color: rgba(255, 255, 255, 0.9);
  }
  .inverted ul,
  .inverted ol,
  .inverted blockquote,
  .inverted caption {
    color: rgba(255, 255, 255, 0.5);
  }
  .inverted table {
    border-top-color: rgba(255, 255, 255, 0.2);
  }
  .inverted tbody tr:nth-child(odd) td {
    background: rgba(0, 0, 0, 0.1);
  }

  @media print {
    body {
      overflow: auto;
    }

    img,
    pre,
    blockquote,
    table,
    figure,
    p {
      page-break-inside: avoid;
    }

    #wrapper {
      font-size: 85%;
      padding: 10px;
      position: relative;
      text-indent: 0;
    }
  }
}
