.blog-card-container {
  width: 100%;
  padding: 30px 0 15px 0;
  display: flex;
  flex-flow: column nowrap;

  .blog-date {
    font-size: 1.2em;
    letter-spacing: 2px;
  }

  .blog-title {
    font-size: 3em;
    margin: 15px 0;
    font-weight: 700;
  }

  .blog-description {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .blog-read-now {
    font-size: 1.2em;
    color: var(--button-color);

    &:hover {
      opacity: 0.7;
    }
  }

  @media only screen and (max-width: 1100px) {
    .blog-title {
      font-size: 2.4em;
      margin-bottom: 10px;
    }

    .blog-description {
      margin: 10px 0;
    }
  }

  @media only screen and (max-width: 750px) {
    .blog-title {
      font-size: 2em;
      margin-bottom: 10px;
    }
  }
}
